@model int

<div class="container p-1">
    <div class="col-9 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img class="col-9" src="~/images/02-lottie-tick-01-instant-2.gif" width="70%" />
    </div>
    <div class="col-8 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />

    </div>
    
</div>

