
	<div class="logo-slider ">
		<div class="logo-slide-track">
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="/images/book1.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="/images/book2.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book3.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book4.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book5.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book6.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book7.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book8.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book9.jpg" alt="" />
			</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book10.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book11.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book12.jpg" alt="" />
			</div>
		<div class="slide hover-overlay hover-zoom hover-shadow ripple">
			
			<img src="~/images/book13.jpg" alt="" />
			</div>
		<div class="slide   hover-shadow card bg-image hover-zoom">
			<img src="~/images/book44.jpg" alt="" />
			</div>
		<div class="slide  hover-shadow card bg-image hover-zoom">
			<img src="~/images/book14.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book15.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book16.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book17.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book18.jpg" alt="" />
		</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book19.jpg" alt="" />
		</div>
		<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book20.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book21.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book22.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book23.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book24.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book25.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book26.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book27.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book28.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book29.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book30.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book31.jpg" alt="" />
		</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book32.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book33.jpg" alt="" />
			</div>
			<div class="slide  hover-overlay hover-zoom hover-shadow ripple">
			<img src="~/images/book34.jpg " style="height:50Px;" alt="" />
			</div>
		</div>
	</div>
	


