

<div class="container p-5">

    <div class="row">

        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="front">
                            <img class="profile" width="100%" src="/images/book4.jpg" alt="Neymar">
                        
                    </div>
                    <div class="back from-left">

                            <h1>Harry Potter and the Goblet of Fire</h1>
                            <p>

                                It's no longer safe for Harry at Hogwarts, so he and his best friends, Ron and Hermione, are on the run. Professor Dumbledore has given them clues about what they need to do to defeat the dark wizard, Lord Voldemort, once and for all, but it's up to them to figure out what these hints and suggestions really mean. Their cross-country odyssey has them searching desperately for the answers, while evading capture or death at every turn. At the same time, their friendship, fortitude, and sense of right and wrong are tested in ways they never could have imagined. The ultimate battle between good and evil that closes out this final chapter of the epic series takes
                            </p>

                        </div>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="front">
                            <img class="profile" width="100%" src="/images/book50.jpg" alt="Neymar">
                            
                    </div>
                    <div class="back from-bottom">
                     
                        
                        
                        <p class="des">
                                <h1>Harry Potter and the Half-Blood Prince</h1>
The war against Voldemort is not going well: even Muggle governments are noticing. Ron scans the obituary pages of The Daily Prophet looking for familiar names. Dumbledore is absent from Hogwarts for long stretches of time, and the Order of the Phoenix has already suffered losses. And yet...
                            </p>
                       
                    </div>
                </div>
            </div>
        </div>





        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="front">
                            <img class="profile" width="100%" src="/images/book13.jpg" alt="Neymar">
                           
                    </div>
                    <div class="back from-right">
                        <p class="des">
                                <h1>
                                    Harry Potter and the Goblet of Fire

                                </h1>
                                Lord Voldemort, the dark wizard responsible for the deaths of Harry's parents, is growing stronger. At the Quidditch World Cup, Voldemort's signature Dark Mark appears in the sky over the stadium, causing pandemonium. The lightning-bolt-shaped scar on Harry's forehead is sporadically causing him agonizing pain, and he is also hearing disturbing voices. Harry realizes 
                            </p>

                    </div>
            </div>
        </div>

    </div>
</div>
<br>

</div>