


<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new templates and extensions.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Support</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Contact US</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Locate A Dealer</a></li>
                            <li><a href="#">Product Registration</a></li>
                            <li><a href="#">Spare Parts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">VP</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">About</a></li>
                            <li><a href="#">More Search</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Contact Me</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook" style="color: #3b5998" ;border-color: #3b5998;></a>
                            <a href="#" class="fab fa-twitter" style="color: #00aced" ;border-color: #00aced;></a>
                            <a href="#" class="fab fa-linkedin" style="color: #007bb6" ;border-color: #007bb6;></a>
                            <a href="#" class="fab fa-pinterest" style="color: #cb2027" ;border-color: #cb2027;></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© Vimala Perumal 2020 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>Made with <i class="icon_heart"></i> in <a href="#">Vimala Perumal</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>